<head>
    <meta charset="UTF-8">
    <title>Lab 13</title>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="libs/fontawesome/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="css/lab13.css"/>
</head>